@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Lexend Giga', sans-serif;
}

html{
    font-size: 69%;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #456882;
    color: #d2c1b6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 1rem 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent; /*#456882*/
    box-shadow: none;
}

.logo{
    font-size: 3rem;
    font-weight: 550;
    color: #234C6A;
    cursor: pointer; 
    transition: 0.5s ease;
}

/*.logo:hover{
    transform: scale(1.1);
}*/

nav a{
    font-size: 1.8rem;
    font-weight: 350;
    margin-left: 4rem;
    color: #d2c1b6;
    transition: 0.3s ease;
    border-bottom: 3px;
}

nav a:hover,
nav a.active{
    color: #234C6A;
    border-bottom: 3px solid #234C6A;
}