@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Lexend Giga', sans-serif;
}

html{
    font-size: 69%;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #456882;
    color: #d2c1b6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    padding: 1rem 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #456882;
    box-shadow: none;
}